@model SparkSide.Services.Data.Models.ChallengeDTO
 

@{
    this.ViewData["Title"] = Model.Title;
}

<div>
    <div class="page-title">
        <h3>Details</h3>
    </div>
</div>

<center>
    <div class="mdl-card content-container challenge-container mdl-shadow--2dp ">

    </div>
</center>
