@model SparkSide.Web.ViewModels.Challenges.FollowedChallengesViewModel

@{
    this.ViewData["Title"] = "Followed Challenges";
}

<div>
    <div class="page-title">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>