@model ICollection<SparkSide.Services.Data.Models.ChallengeDTO>

@{
    this.ViewData["Title"] = "My Challenges";
}

<div>
    <div class="page-title">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>