@model SparkSide.Web.ViewModels.Challenges.SavedChallengesViewModel

@{
    this.ViewData["Title"] = "Saved Challenges";
}

<div>
    <div class="page-title">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>