@{
    this.ViewData["Title"] = "About";
}

<div>
    <div class="page-title">
        <h3>@this.ViewData["Title"]</h3>
    </div>
</div>

<div class="content-container max-width">
    <div class="inner-content">
        <p>Our goal is to make having a healthy lifestyle more fun. And you know what makes achievements more satisfying? Crossing them off your To-Do list.</p>
        <p>- Dannie</p>
    </div>
</div>