@model SparkSide.Web.ViewModels.Home.DashboardViewModel

@using SparkSide.Common
@{
    this.ViewData["Title"] = "Dashboard";
}

<div>
    <div class="page-title">
        <h3>@Model.Greeting, @Model.UserFirstName</h3>
    </div>
</div>
