@model IEnumerable<SparkSide.Services.Data.Models.ChallengeDTO>

@using SparkSide.Common
@{
    this.ViewData["Title"] = "Challenges";
}

<div>
    <div class="page-title">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="card-results-container">
    @foreach (var challenge in Model)
    {
        <partial name="~/Views/Shared/_ChallengeCardDisplayPartial.cshtml" for="@challenge" />
    }
</div>
