@model SparkSide.Web.ViewModels.Users.UserProfileViewModel

@{
    this.ViewData["Title"] = Model.User.FirstName + " " + Model.User.LastName;
}

<div class="mdl-card user-profile mdl-shadow--2dp">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <div class="profile-picture-container">
                <img src="@Model.User.ProfilePictureLink" />
            </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            <div class="profile-follow-button">
                @{
                    if (Model.IsFollowing)
                    {
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" disabled>
                            Followed
                        </button>
                    }
                    else if (!Model.IsCurrentUser)
                    {
                        <button  id="btnFollow" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            Follow
                        </button>
                    }
                }
            </div>
            <div class="profile-header"></div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_FollowUserScriptsPartial" for="@Model.User" />
}