@using SparkSide.Common
@using SparkSide.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<nav class="mdl-navigation">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="mdl-navigation__link custom-nav-link">
                <button id="settings" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">settings</i></button>
            </div>
        }
        @*<a class="mdl-navigation__link custom-nav-link">
            <label class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">notifications_none</i></label>
        </a>*@
        <div id="user" class="mdl-navigation__link custom-nav-link">
            <button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">perm_identity</i></button>
        </div>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="user">
            <li class="mdl-menu__item"><a class="mdl-navigation__link custom-nav-link" asp-area="" asp-controller="Users" asp-action="@this.User.Identity.Name">My Profile</a></li>
            <li class="mdl-menu__item"><a class="mdl-navigation__link custom-nav-link" asp-area="" asp-controller="Users" asp-action="Settings">Settings</a></li> 
        </ul>
        <div class="mdl-navigation__link custom-nav-link">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">power_settings_new</i></button>
            </form>
        </div>
    }
    else
    {
        <a class="mdl-navigation__link custom-nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="mdl-navigation__link custom-nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    }
</nav>

