/*Layout styling*/
.menu-icon {
    vertical-align: middle;
    font-size: 23px;
    margin-right: 5px;
}

.red-gradient {
    background-image: linear-gradient(to bottom right, #EE3557, #B2008A);
}

.custom-menu {
    margin-top: 66px;
    margin-left: 10px;
    height: auto;
}

.mdl-layout__drawer-button {
    background-color: transparent !important;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 0px !important;
    width: 100% !important;
}

.main-section {
    width: 70%;
    height: 100%;
    display: inline-block;
    padding: 10px;
}

.menu-section {
    width: 40%;
}

.right-section {
    width: 29%;
    height: 100%;
    display: inline-block;
    padding: 10px;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-left: 250px;
}

.mdl-layout {
    background-color: #F3F3F3;
}


@media screen and (max-width: 1024px) {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
        margin-left: 0;
    }

    .mdl-layout__drawer-button {
        display: block !important;
    }

    .full-logo {
        display: none !important;
    }

    .small-logo {
        display: block !important;
    }
}

.mdl-layout__drawer-button {
    display: none;
}

    .mdl-layout__drawer-button:focus {
        outline: none;
    }

.mdl-layout__drawer .mdl-navigation {
    padding: 5px 0;
}

.mdl-layout__header {
    min-height: 56px;
    height: 56px;
}

.full-logo {
    display: block;
}

.small-logo {
    display: none;
}


.align-search {
    margin-top: 2px;
}

.custom-nav-link {
    padding: 0 5px !important;
    line-height: inherit !important;
}

.user-form {
    width: 70%;
    padding: 10px 50px 40px 50px;
}

.user-form-header {
    border-bottom: 1px solid rgb(233,30,99)
}

    .user-form-header h3 {
        color: rgb(233,30,99) !important;
    }

.mdl-textfield {
    margin: 0 5px !important;
}

/*Theme Styling*/
h3 {
    color: #757575;
    padding: 0 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-title {
    border-bottom: solid 1px #757575;
}

#register, #login {
    margin-top: 15px;
}

.textfield__error {
    color: #d50000;
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.checkbox {
    display: inline-block;
}

.mdl-menu__item .custom-nav-link {
    color: rgba(0,0,0,.87);
    padding: 0px !important;
}

/**
    User Profile
*/

.user-profile {
    width: 100%;
    min-height: 650px;
    min-width: 650px;
}

    .user-profile .mdl-grid {
        width: 100%
    }

    .user-profile .profile-picture-container {
        width: 260px;
        height: 260px;
        overflow: hidden;
        margin: 10px;
    }

    .user-profile .profile-follow-button {
        float: right;
        padding: 0 18px;
    }

    .user-profile .profile-picture-container > img {
        width: inherit;
    }